.modal {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 0.5rem;
  width: clamp(25rem, 48%, 48%);
  height: 25rem;
  border: 0.1rem solid #e4e4e7;

  .header {
    h2 {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .container {
    height: 100%;
    background-color: white;
    margin-top: 1.5rem;

    .iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
